
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 20px;
}

#numPc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    margin-bottom: 10px;
    background-color: aqua;
}

#numUser {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    margin-bottom: 10px;
    background-color: aqua;
}

#winner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    margin-bottom: 10px;
    background-color: red;
}